@model NET_Midterm2025.Models.Sach

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sach</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnhBia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnhBia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TacGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TacGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamXuatBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamXuatBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TriGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TriGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayNhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayNhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNxbNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNxbNavigation.MaNxb)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaSach">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
